body {
    margin: 0;
    width: 2800px;
    font-family: "Courier New", monospace;
}

#scale {
    position: sticky;
    top: 0;
    z-index: 1;
}

.scale {
    display: flex;
}

.scale>div {
    flex-grow: 1;
    width: 0;
}

#scale_date {
    background-color: #67d5ff;
}

#scale_time {
    background-color: #8cd6ff;
}

#log {
    background: repeating-linear-gradient(90deg, #99ccff, #99ccff calc(100%/28), #99ccee calc(100%/28), #99ccee calc(100%/14));
}

.log_entry {
    position: relative;
    height: 22px;
    color: #ffffff;
}