body {
    margin: 0;
    width: 2800px;
    font-family: "Courier New", monospace;
}

#scale {
    position: sticky;
    top: 0;
    z-index: 1;
}

.scale {
    display: flex;
}

.scale div {
    flex-grow: 1;
    width: 0;
}

#scale_date {
    background-color: #aaaaaa;
}

#scale_time {
    background-color: #eeeeee;
}

#log {
    background: repeating-linear-gradient(90deg, #f0f0f0, #f0f0f0 calc(100%/28), #e8e8e8 calc(100%/28), #e8e8e8 calc(100%/14));
}

.log_entry {
    position: relative;
    height: 22px;
    color: #ffffff;
}